/* HEADER DESIGN */

.left-design {
  position: absolute;
  bottom: 21%;
  right: 24%;
  z-index: -10;
  width: 84%;
  height: 88%;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 1) 60%,
    rgba(230, 230, 230, 1) 66%
  );
  clip-path: polygon(10% 10%, 100% 10%, 85% 72%, 9% 100%);
}

.right-design {
  position: absolute;
  bottom: 39.3%;
  right: 0%;
  z-index: -15;
  width: 52%;
  height: 69%;
  background: rgba(225, 225, 225, 1);
  clip-path: polygon(44% 11%, 102% 11%, 100% 71%, 5% 98%);
}

/* NAVBAR */

.nav-container {
  margin-left: auto;
  margin-right: auto;
}

nav {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}

.top-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  right: 10%;
  left: 10%;
  margin-left: auto;
  margin-right: auto;
}

.top-nav-right-1 {
  margin-right: var(--size-30);
}

.bottom-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: var(--size-18);
  position: fixed;
  top: 3%;
  right: 10%;
  left: 10%;
  z-index: 100;
  margin-left: auto;
  margin-right: auto;
  background: rgb(255 255 255 / 35%);
  backdrop-filter: blur(15px);
  padding-bottom: 5px;
  border-radius: 5px;
}

[aria-controls="navbarDropdown"] {
  display: none;
}

.nav-toggler {
  position: absolute;
  right: var(--size-14);
  top: var(--size-18);
  outline: none;
  background-color: transparent;
  border: 1px solid transparent;
}

.nav-toggler span {
  font-size: var(--size-20);
  cursor: pointer;
  pointer-events: none;
}

.bottom-nav .front-logo {
  width: var(--size-150);
}

.bottom-nav-right {
  display: flex;
  flex-direction: row;
  padding-top: var(--size-10);
}

.bottom-nav-right > li {
  margin-top: 0.4rem;
}

.bottom-nav-right .bottom-right-option {
  margin-right: var(--size-16);
}

.bottom-right-1 {
  color: var(--font-color-link);
}

/* EMPOWERING TEAMS / LOGO ICONS  */

.empowering-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
  margin-top: 8rem;
}

.empowering {
  width: 40%;
  margin: 2.5rem 1rem 4rem 0;
}

.empowering h2 {
  margin-top: 0;
  font-size: var(--size-50);
  margin-bottom: var(--size-20);
  color: var(--font-color-dark);
}

.empowering p {
  font-size: var(--size-20);
  margin-bottom: var(--size-30);
  margin-right: 3rem;
}

.empowering .btn-one {
  padding: var(--size-10) var(--size-14);
  border-radius: var(--size-30);
  margin-right: var(--size-10);
}

.empowering .btn-two {
  background: transparent;
  border: 1px solid transparent;
  color: var(--font-color-link);
}

.empowering-logos {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 35.625rem;
  height: 25.3125rem;
}

.icon-1,
.icon-6 {
  top: 0%;
  left: 22%;
  width: var(--size-60);
  padding: 0.8rem;
}

.icon-2 {
  top: 7%;
  left: 48%;
  padding: var(--size-20);
}

.icon-3 {
  top: 3%;
  right: 0%;
}

.icon-4 {
  top: 41%;
  left: 21%;
  padding: var(--size-18);
}

.icon-5 {
  top: 41%;
  left: 60%;
  padding: 1.0625rem;
}

.icon-6 {
  left: 39%;
  top: 63%;
}
.icon-7 {
  right: 0%;
  top: 78%;
  padding: var(--size-16);
}

/* KEY BENEFITS */

.key-benefits-container {
  margin-right: auto;
  margin-left: auto;
  margin-top: 7rem;
  margin-bottom: 5rem;
}

.key-benefits-opening,
.why-front-opening {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.key-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.key-benefits-card {
  display: flex;
  flex-direction: column;
  max-width: 15.625rem;
  max-height: 15.5rem;
  border: 0.03125rem solid transparent;
  background-color: transparent;
  box-shadow: 1px 11px 0px -1px #f0f0f0, 0px 12px 0px 13px #f7f7f7;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: var(--size-14);
}

.key-benefits-card:hover {
  margin: -3px -3px 3px 3px;
  transition: margin 0.2s ease-in-out;
}

.key-benefits-card > h2 {
  margin-bottom: 0.5rem;
}

.key-benefits-card > img {
  max-width: 4rem;
}

.key-benefits-card > h2,
.premium-card > h2 {
  color: var(--black);
  font-size: large;
}

.key-benefits-card > a {
  color: var(--font-color-link);
  margin-top: 1rem;
}

.premium-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.premium-card > span {
  margin-top: 0.75rem;
  margin-left: 0.9375rem;
}

/* PERSPECTIVES */

.perspectives-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 67rem;
  background: #eaeff5;
  margin: 7rem auto 5rem auto;
  padding: 0;
  border-radius: 0.5rem;
}

.perspectives-para {
  width: 36%;
  margin-left: 3.5rem;
  margin-top: 9rem;
}

.perspectives-para > h2 {
  color: var(--font-color-dark);
  line-height: 1.35;
  font-size: xx-large;
}

.perspectives-para > a {
  padding: 0.7rem 1.6rem;
  border-radius: 1.625rem;
  font-size: var(--size-16);
}

.banner-one-container > img {
  margin-top: 7rem;
  max-width: 37rem;
  max-height: 26rem;
}

/* WHY-FRONT */

.why-front-container {
  margin-right: auto;
  margin-left: auto;
}

.why-front-opening {
  flex-wrap: wrap;
}

.dots-and-tittles {
  display: flex;
  flex-direction: column;
}

.dot-line-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1rem;
}

.dot {
  flex-shrink: 0;
  width: 3rem;
  height: 3rem;
  border-radius: 1.75rem;
  background: var(--font-color-link);
  border: 1.38125rem solid #e4edf7;
}

.line {
  width: 8rem;
  height: 0.09375rem;
  background: #e4edf7;
  margin: 1.46rem 1.1rem 0rem 1.1rem;
}

.dot-tittles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: var(--black);
  font-weight: 600;
}

.d-1 {
  margin-right: 6rem;
}
.d-2 {
  margin-right: 5rem;
}
.d-3 {
  margin-right: 5rem;
}

.banner-two {
  display: flex;
  position: relative;
  margin: 3rem 3rem 6rem 3rem;
}

.banner-two > img {
  width: 92%;
  margin-left: auto;
  margin-right: auto;
}

.play-button-container {
  position: absolute;
  top: 45%;
  left: 50%;
  color: var(--black);
  background: var(--white);
  width: 3.75rem;
  height: 3.75rem;
  padding: 1.0625rem 1.5625rem 0rem 1.5625rem;
  border: 0.0625rem solid var(--white);
  border-radius: 3.125rem;
  box-shadow: 0rem 0.03125rem 0.5625rem 0rem var(--font-color-light);
}

/* KRAY & HUBSPOT */

.kray-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 9rem;
  max-height: 34rem;
}

.dot-overlay-img {
  position: relative;
  width: 23rem;
  margin-right: 11rem;
}

.dot-img {
  width: 14rem;
  margin-top: 2rem;
}

.kray-photo {
  position: relative;
  left: 13%;
  top: -54%;
  z-index: 16;
  width: 23rem;
  border-radius: 0.3125rem;
}

.hubspot {
  margin-top: 3rem;
  margin-right: 4rem;
}

.hubspot > img {
  width: 6rem;
  margin-bottom: 1.5rem;
}

.hubspot > p,
.hubspot > h4 {
  font-size: var(--size-20);
  color: var(--black);
}

.hubspot > h4 {
  font-weight: 600;
  margin-top: 2.5rem;
  margin-bottom: 0rem;
}

.hubspot > h6 {
  margin-top: 0rem;
}

/* TRUSTED BY THE BEST */

.worlds-best-container,
.company-names {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.worlds-best-header {
  font-size: var(--size-14);
  font-weight: 600;
  margin-bottom: 1.5rem;
  text-align: center;
}

.company-names {
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 5rem;
}

.company-names > img {
  max-width: 7rem;
}

.best-line {
  width: 100%;
  height: 0.125rem;
  background-color: #eeedf5;
  margin-bottom: 2rem;
}

/* PRICING */

.pricing-container {
  margin: 0 auto 5rem auto;
}

.pricing-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 5rem;
}

.pricing-header {
  text-align: center;
}

.pricing-header > h2 {
  margin-bottom: 1.5rem;
}

.main-card {
  width: 35%;
  min-width: 18.75rem;
  height: max-content;
  border: 0.0625rem solid var(--white);
  border-radius: 0.3125rem;
  box-shadow: 1px 11px 0px -1px #f0f0f0, 0px 12px 0px 13px #f7f7f7;
  padding: 2rem;
}

.dollars,
.month {
  font-size: xxx-large;
  color: var(--black);
  font-weight: 600;
}

.month {
  font-size: var(--size-20);
}

.main-card > a {
  border-radius: 2rem;
  padding: 0.6rem 1.5rem 0rem 1.5rem;
  margin: 1.5rem 0rem 0.5rem 0;
}

.main-card :last-child {
  font-size: smaller;
  margin-bottom: 1rem;
}

.small-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 65%;
  flex-wrap: wrap;
}

.small-card > img {
  max-width: 3rem;
}

.small-card > h3 {
  color: var(--black);
  margin: 0.7rem 0 0.3rem;
}

/* HIRE US */

.hire-us-container {
  background-image: url(/Assets/abstract/hire-us-transparent-pattern-bg.svg);
  background-color: #162052;
  border-radius: 0.3125rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0rem auto 5rem auto;
  height: fit-content;
}

.hire-us {
  color: #f0ebeb;
  min-width: 30%;
  margin: 9rem 1.5rem 0 0;
}

.hire-us > h2 {
  font-size: var(--size-40);
  margin-bottom: 0.8rem;
}

.hire-us :nth-child(2),
.hire-us :nth-child(5) {
  font-size: var(--size-16);
}

.card-line-two {
  width: 63%;
  margin: 1.8rem 0rem 1.8rem 0rem;
  background-color: #9494975e;
}

.word-shadow {
  font-size: var(--size-20);
  font-style: italic;
  text-shadow: 1.3125rem -0.125rem #f0ebeb1a;
  line-height: 1.7rem;
}

.hire-us > h4 {
  text-shadow: 0.75rem 0rem #f0ebeb1a;
  margin-bottom: 0;
}

.hire-us :nth-child(6) {
  font-size: 0.75rem;
}

.faces-container {
  margin-top: 3rem;
}

.faces-container :nth-child(2) {
  margin: 0rem 1rem;
}

.background-face {
  width: 40px;
  border-radius: 50%;
}

.main-face {
  width: 50px;
  border-radius: 50%;
}

/* HIRE US FORM */

.form-container {
  margin: 4rem 0 4rem 0;
  max-width: 27.5rem;
  padding: 2.75rem 2.375rem 2.75rem 2.375rem;
  height: auto;
  border-radius: 0.3125rem;
  background: var(--white);
  box-shadow: 0px 2px 0px 23px rgb(240 240 240 / 1%),
    0px 5px 1px 38px rgb(240 240 254 / 2%);
}

.form,
.inputs-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.form-header > h2 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--black);
  line-height: 1.6rem;
  margin-left: 0.7rem;
}

.inputs-container {
  justify-content: space-around;
}

.form-inputs {
  padding: var(--size-10) 0 var(--size-10) var(--size-10);
  width: 10.5rem;
  font-size: 0.84rem;
  font-weight: 600;
  border: 0.0625rem solid #efeff1;
  color: var(--black);
  border-radius: 0.3125rem;
  margin: 0.7rem 0 0.7rem 0;
}

.one::placeholder,
.two::placeholder,
.three::placeholder,
.four::placeholder,
textarea::placeholder {
  color: #c4c4c4;
}

.form > textarea {
  width: 21.875rem;
  border: 0.0625rem solid #e7e4e4;
  border-radius: 0.3125rem;
  margin-top: 0.9rem;
}

.checkbox {
  display: flex;
  flex-direction: row;
  margin-top: 1.5rem;
}

.checkbox :nth-child(2) {
  height: fit-content;
  margin: 0 0.3125rem 0 0.4375rem;
}

.checkbox :nth-child(3) {
  font-size: 0.8125rem;
  color: #b9b9b9;
}

.underline {
  border-bottom: 0.125rem dotted #b9b9b9;
}

.get-started-btn {
  width: 21.875rem;
  padding: 0.875rem;
  border-radius: 0.3125rem;
  font-size: 0.9375rem;
  font-weight: 600;
  margin-top: 2rem;
}

/* FOOTER */

/* DIRECTORY */

.footer-container {
  margin: 0 auto;
}

.directory {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 4rem;
  font-size: 0.875rem;
}

.footer-section-one > p > img {
  max-width: 8rem;
  margin-bottom: 1rem;
}

.footer-info-options {
  color: var(--black);
  font-weight: 700;
}

.footer-icon {
  color: #696969;
}

.footer-section-two :nth-child(3) > span {
  font-size: 0.6875rem;
  padding: 0.03125rem 0.09375rem;
  border-radius: 0.1875rem;
}

.best-line-two {
  margin: 3rem 0 1rem 0;
}

/* SUB-DIRECTORY */

.sub-directory,
.sub-left-ul,
.sub-right-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 0 1rem 0;
}

.sub-left-ul,
.sub-right-ul {
  justify-content: space-evenly;
  flex-wrap: nowrap;
  width: 21rem;
  font-size: var(--size-14);
}

.footer-logo-icons {
  width: 1.5625rem;
  height: 1.5625rem;
  text-align: center;
  border-radius: 0.25rem;
  background: #e6e5e5;
}

.footer-btn {
  background: #e6e5e5;
  border: none;
  border-radius: 0.25rem;
  color: var(--font-color-base);
  font-size: 0.8125rem;
  padding: 0.1875rem 0.8125rem;
}

.footer-btn > i {
  margin-left: 0.3125rem;
}

.copyright-closing {
  text-align: center;
  font-size: 0.75rem;
  margin-bottom: 4rem;
}

/* SCROLL TO TOP */

#scrollUp {
  background-color: #dfdedf;
  color: var(--font-color-base);
  font-size: var(--size-10);
  height: var(--size-40);
  width: var(--size-40);
  line-height: var(--size-40);
  padding-bottom: 0.0625rem;
  position: fixed;
  bottom: var(--size-30);
  right: var(--size-30);
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  z-index: 100;
}
