/* NAVBAR */

.nav-container {
  margin-left: auto;
  margin-right: auto;
}

nav {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}

nav .top-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top-nav-right-1 {
  margin-right: var(--size-30);
}

nav .bottom-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: var(--size-18);
  position: sticky;
  z-index: 100;
}

.bottom-nav .front-logo {
  width: var(--size-150);
}

.bottom-nav-right {
  padding-top: var(--size-10);
}

.bottom-nav-right .bottom-right-option {
  margin-right: var(--size-16);
}

.bottom-right-1 {
  color: var(--font-color-link);
}

/* EMPOWERING TEAMS / LOGO ICONS */

.empowering-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: var(--size-150);
}

.empowering {
  min-width: 300px;
  max-width: 530px;
  margin-right: 130px;
  margin-bottom: 4rem;
}

.empowering h2 {
  margin-top: 0;
  font-size: var(--size-50);
  margin-bottom: var(--size-20);
  color: var(--font-color-dark);
}

.empowering p {
  margin-bottom: var(--size-30);
}

.empowering .btn-one {
  padding: var(--size-10) var(--size-14);
  border-radius: var(--size-30);
  margin-right: var(--size-10);
}

.empowering .btn-two {
  background: transparent;
  border: 1px solid transparent;
  color: var(--font-color-link);
}

.empowering-logos {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 300px;
  max-width: 530px;
}

.icon-1,
.icon-6 {
  top: -3rem;
  left: -9rem;
  width: var(--size-60);
  padding: 0.8rem;
}

.icon-2 {
  top: -0.4rem;
  left: 1rem;
  padding: var(--size-20);
}

.icon-3 {
  top: -1.9rem;
  right: 0rem;
}

.icon-4 {
  top: 8rem;
  left: -9rem;
  padding: var(--size-18);
}

.icon-5 {
  top: 8rem;
  left: 5.5rem;
  padding: 17px;
}

.icon-6 {
  left: -2rem;
  top: 15rem;
}
.icon-7 {
  right: 0rem;
  top: 18rem;
  padding: var(--size-16);
}

/* KEY BENEFITS */

.key-benefits-container {
  margin-right: auto;
  margin-left: auto;
  margin-top: 7rem;
  margin-bottom: 5rem;
}

.key-benefits-opening,
.why-front-opening {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.key-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.key-benefits-card {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  max-height: 270px;
  border: 0.5px solid transparent;
  background-color: transparent;
  box-shadow: 1px 11px 0px -1px #f0f0f0, 0px 12px 0px 13px #f7f7f7;
  border-radius: 8px;
  padding: 1rem;
  font-size: var(--size-14);
}

.key-benefits-card > h2 {
  margin-bottom: 0.5rem;
}

.key-benefits-card > img {
  max-width: 4rem;
}

.key-benefits-card > h2,
.premium-card > h2 {
  color: var(--black);
  font-size: large;
}

.key-benefits-card > a {
  color: var(--font-color-link);
  margin-top: 1rem;
}

.premium-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.premium-card > span {
  margin-top: 12px;
  margin-left: 15px;
}

/* PERSPECTIVES */

.perspectives-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 67rem;
  background: #eaeff5;
  margin: 7rem auto 5rem auto;
  padding: 0;
  border-radius: 8px;
}

.perspectives-para {
  margin-left: 3.5rem;
  margin-top: 9rem;
}

.perspectives-para > h2 {
  color: var(--font-color-dark);
  line-height: 1.35;
  font-size: xx-large;
}

.perspectives-para > a {
  padding: 0.7rem 1.6rem;
  border-radius: 26px;
  font-size: var(--size-16);
}

.banner-one-container > img {
  margin-top: 7rem;
  max-width: 37rem;
  max-height: 26rem;
}

/* WHY-FRONT */

.why-front-container {
  margin-right: auto;
  margin-left: auto;
}

.dot-line-container {
  display: flex;
  flex: row;
  justify-content: center;
  margin-bottom: 1rem;
}

.dot {
  width: 3rem;
  height: 3rem;
  border-radius: 28px;
  background: var(--font-color-link);
  border: 22.1px solid #e4edf7;
}

.line {
  width: 8rem;
  height: 1.5px;
  background: #e4edf7;
  margin: 1.46rem 1.1rem 0rem 1.1rem;
}

.dot-tittles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: var(--black);
  font-weight: 600;
}

.d-1 {
  margin-right: 6rem;
}
.d-2 {
  margin-right: 5rem;
}
.d-3 {
  margin-right: 5rem;
}

.banner-two {
  display: flex;
  position: relative;
  margin: 3rem 3rem 12rem 3rem;
}

.play-button-container {
  position: absolute;
  top: 45%;
  left: 50%;
  color: var(--black);
  background: var(--white);
  width: 60px;
  height: 60px;
  padding: 17px 25px 0px 25px;
  border: 1px solid var(--white);
  border-radius: 50px;
  box-shadow: 0px 0.5px 9px 0px var(--font-color-light);
}
